<header style="background-color: #f9f9f9;">
    <nav class="navbar navbar-expand-lg navbar-light bg-light" style=" gap:2%;max-width: 55%;justify-content:space-between;margin:auto;">
        <div class="right row">
            <a class="navbar-brand" href="#">Jio Cart ADMIN</a>
            
        </div>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item ">
                        <a class="nav-link" href="/admin/">PRODUCTS
                            <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/admin/users">USERS</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/admin/orders">ORDERS</a>
                    </li>

                </ul>

        </div>
        <div class="left row">
            <ul class="navbar-nav mr-5">
                <li class="nav-item dropdown mr-2 my-2 my-lg-0">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        {{#if user}}
                        {{user.name}}
                        {{else}}
                        Account
                        {{/if}}

                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        {{#if user}}
                        <a class="dropdown-item" href="/logout">Logout</a>
                        {{else}}
                        <a class="dropdown-item" href="/login">Login</a>

                        {{/if}}

                    </div>
                </li>
            </ul>
        </div>
    </nav>
</header>