<header style="background-color: #f9f9f9; ">
    <nav class="navbar navbar-expand-lg navbar-light bg-light"
        style="max-width: 55%;justify-content:space-between;margin:auto;">
        <div class="right row">
            <a class="navbar-brand ml-5" href="/">
                <h3>Jio Cart</h3>
            </a>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item ">
                        <a class="nav-link" href="/">Products
                            <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/cart">Carts<span class="ml-1 badge badge-success"
                                id="cart-count">{{cartCount}}</span></a>
                    </li>
                    {{#if user}}

                    <li class="nav-item">
                        <a class="nav-link" href="/orders">Orders</a>
                    </li>

                    {{/if}}

                </ul>

            </div>
        </div>
        <div class="left">

            <ul class="navbar-nav mr-5">
                <li class="nav-item dropdown mr-2 my-2 my-lg-0">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        {{#if user}}
                        {{user.name}}
                        {{else}}
                        Account
                        {{/if}}

                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        {{#if user}}
                        <a class="dropdown-item" href="/logout">Logout</a>
                        {{else}}
                        <a class="dropdown-item" href="/login">Login</a>

                        {{/if}}

                    </div>
                </li>
            </ul>
        </div>

    </nav>
</header>