
    <section>
        <div class="container">

        
        <div class="row justify-content-center">
            {{#each products}}
            <div class="col-md-3 p-3 m-3">

            
            <div class="card " style="width: 18rem;min-height:25rem ">
                <img class="card-img-top" style=" max-height:14rem "
                    src="/product-images/{{this._id}}.{{this.type}}"
                    alt="Card image cap" />
                <div class="card-body pb-0">
                    <h5 class="card-title">{{this.Name}}</h5>
                    <p class="card-text">{{this.Discription}}</p>
                    <a href="#" class="btn btn-primary">Add Cart</a>
                </div>
            </div></div>
            {{/each}}
           
        </div></div>
    </section>